<footer class="footer" id="kontakt">
    <div class="container footer__container">
        <img class="footer__logo" src="../images/logo.svg" alt="responsible business solutions logo">
        <div class="footer__company-info">
            <h2 class="footer__heading">Responsible Business Solutions</h2>
            <address class="footer__address">
                <a class="link footer__link" href="mailto:marta.wrembel@rbs.org.pl"
                    rel="noopener noreferrer">marta.wrembel@rbs.org.pl
                </a>
                <a class="link footer__link" href="tel:+48691122588" rel="noopener noreferrer">+48 691 122 588
                </a>
            </address>

            <div class="footer__socials">
                <h3 class="footer__heading-social">Znajdź nas w mediach społecznościowych</h3>
                <ul class="list">
                    <li class="list__item-social">
                        <a class="link" href="https://www.facebook.com/marta.wrembel.5" rel="noopener noreferrer">
                            <svg class="icon icon--social">
                                <use width="20" height="20" x="12" y="12" xlink:href="../images/icon.svg#facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="list__item-social">
                        <a class="link" href="https://pl.linkedin.com/in/marta-wrembel-b05891143"
                            rel="noopener noreferrer">
                            <svg class="icon icon--social">
                                <use width="20" height="20" x="12" y="12" xlink:href="../images/icon.svg#linkedin">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" class="footer__sent-btn btn">Napisz wiadomość</button>
        </div>
    </div>

</footer>