<main class="main" id="misja">
    <div class="container">
        <section class="main__company">
            <p class="main__company-desc">
                <span>Responsible business solutions</span> to firma specjalizująca się w doradztwie i konsultingu dla
                klientów biznesowych, w zakresie ESG,
                zrównoważonego rozwoju oraz Systemu Zarządzania Jakością zgodnego z normą ISO 9001. Nasza misja polega
                na wspieraniu klientów w osiąganiu celów biznesowych przy jednoczesnym przyczynianiu się do pozytywnych
                zmian w środowisku i społeczeństwie.

                Dbałość o potrzeby klienta jest dla nas priorytetem. Nasze usługi są dostosowywane do indywidualnych
                potrzeb klientów, co pozwala na osiągnięcie najlepszych wyników. Stawiamy również na innowacyjność,
                wdrażając najnowsze rozwiązania, aby sprostać wymaganiom naszych klientów.
                <br><br>
                Jako firma doradczo-konsultingowa, kładziemy szczególny nacisk na etykę w biznesie. Przestrzegamy
                najwyższych standardów etycznych i moralnych oraz przepisów prawnych, aby zapewnić klientom pełne
                zaufanie i poczucie bezpieczeństwa.
            </p>
            <img class="main__company-img" src="../images/top_section.png" srcset="../images/top_section@2x.png 2x"
                alt="computer">
        </section>
        <section class="top-section ">
            <div class="top-section__block">
                <h2 class="top-section__block-heading">MISJA I WARTOŚCI</h2>
                <p class="top-section__block-desc">
                    RBS wspiera firmy i organizacje w osiąganiu sukcesu poprzez dostarczanie wysokiej jakości doradztwa
                    i konsultingu z zakresu ESG, zrównoważonego rozwoju oraz Systemu Zarządzania Jakością zgodnego z ISO
                    9001. Nasze rozwiązania pomagają klientom w osiąganiu ich celów biznesowych, jednocześnie
                    przyczyniając się do pozytywnych zmian w środowisku i społeczeństwie.
                </p>
                <p class="top-section__block-desc">
                    W realizacji naszych celów biznesowych kierujemy się poniższymi wartościami:
                </p>
                <ul class="list top-section__list">
                    <li class="top-section__list-item">
                        <span>Zrównoważony rozwój</span> - jesteśmy przekonani, że rozwój biznesowy powinien iść w parze
                        z troską o
                        środowisko naturalne oraz społeczne potrzeby, dlatego oferujemy rozwiązania, które pomagają
                        klientom osiągnąć sukces, jednocześnie przyczyniając się do pozytywnych zmian w środowisku i
                        społeczeństwie.
                    </li>
                    <li class="top-section__list-item">
                        <span>Innowacyjność</span> - zawsze poszukujemy i wdrażamy najnowsze rozwiązania z zakresu ESG
                        oraz
                        zrównoważonego rozwoju, aby nasze usługi były na najwyższym poziomie i spełniały oczekiwania
                        naszych klientów.
                    </li>
                    <li class="top-section__list-item">
                        <span>Dbałość o klienta</span> - klient jest dla nas najważniejszy, zawsze stawiamy na jego
                        potrzeby i cele,
                        dostosowując nasze usługi do jego indywidualnych potrzeb, aby osiągnąć najlepsze wyniki.
                    </li>
                    <li class="top-section__list-item">
                        <span>Profesjonalizm</span> - nasz zespół składa się z doświadczonych i wykwalifikowanych
                        specjalistów,
                        którzy stale poszerzają swoją wiedzę i umiejętności, aby dostarczać usługi na najwyższym
                        poziomie.
                    </li>
                    <li class="top-section__list-item">
                        <span>Etyka</span> - prowadzimy biznes zgodnie z najwyższymi standardami etycznymi i moralnymi,
                        przestrzegając prawa i przepisów, aby zapewnić naszym klientom pełne zaufanie i poczucie
                        bezpieczeństwa.
                    </li>
                </ul>
            </div>

        </section>
    </div>

    <section class="services">
        <div class="container services__container">
            <h2 class="services__heading" id="usługi">NASZE USŁUGI</h2>
            <ul class="services__list">
                <li class="services__list-item">
                    <h3 class="services__list-item-heading">Szkolenia i edukacja</h3>
                    <p class="services__list-item-info">
                        Oferujemy szkolenia i edukację z zakresu ESG, zrównoważonego rozwoju i ISO 9001 dla firm i
                        organizacji. Nasza oferta obejmuje szkolenia, warsztaty i inne formy edukacji prowadzone przez
                        doświadczonych specjalistów. Pomagamy naszym klientom zdobyć wiedzę i umiejętności do
                        prowadzenia działalności zgodnie z zasadami zrównoważonego rozwoju i normami ISO 9001,
                        przyczyniając się do pozytywnych zmian w środowisku i społeczeństwie.
                    </p>
                    <button type="button" class="btn-more" id="modal-services__trainings">
                        <img src="../images/see_more-arrow.svg" alt="zobacz więcej">
                    </button>
                </li>
                <li class="services__list-item">
                    <h3 class="services__list-item-heading">ESG i Zrównoważony Rozwój</h3>
                    <p class="services__list-item-info">
                        RBS oferuje usługę przygotowania raportów w zakresie
                        zrównoważonego rozwoju, która skupia się na kompleksowej analizie działań podejmowanych przez
                        klientów w tym obszarze. Nasz zespół specjalistów bada wszystkie aspekty związane ze
                        zrównoważonym rozwojem, analizując i oceniając wpływ działań firmy na środowisko naturalne,
                        społeczność lokalną oraz gospodarkę.
                    </p>
                    <button type="button" class="btn-more" id="modal-services__esg">
                        <img src="../images/see_more-arrow.svg" alt="zobacz więcej">
                    </button>
                </li>
                <li class="services__list-item">
                    <h3 class="services__list-item-heading">System Zarządzania Jakością ISO 9001</h3>
                    <p class="services__list-item-info">
                        Zapraszamy do skorzystania z naszych usług w zakresie ISO 9001, które pozwolą Państwa firmie na
                        doskonalenie procesów i usług. Oferujemy audyt wewnętrzny, wdrażanie systemu, doradztwo,
                        szkolenia oraz wsparcie w procesie certyfikacji. Dzięki nam, Państwa firma zyska konkurencyjną
                        przewagę, poprawi jakość produktów oraz zwiększy lojalność klientów.
                    </p>
                    <button type="button" class="btn-more" id="modal-services__iso">
                        <img src="../images/see_more-arrow.svg" alt="zobacz więcej">
                    </button>
                </li>
            </ul>
            <div id="o_mnie"></div>
        </div>

    </section>
    <section class="modal-services hidden">
        <div class="modal-services__popup ">
            <div class="modal-services__trainings hidden">
                <h3 class="modal-services__heading">Szkolenia i edukacja</h3>
                <ul class="modal-services__list list">
                    <li>
                        <span>ESG dla menadżerów i liderów firmowych:</span>
                        2-dniowe szkolenie dla menadżerów i liderów firmowych, którzy chcą poznać najnowsze trendy i
                        wyzwania związane z ESG oraz nauczyć się jak wdrożyć podejście ESG w swojej organizacji.
                    </li>
                    <li>
                        <span>Zrównoważony rozwój dla małych i średnich przedsiębiorstw:</span>
                        1-dniowe szkolenie dla właścicieli małych i średnich przedsiębiorstw, którzy chcą poznać zasady
                        zrównoważonego rozwoju i nauczyć się jak wdrożyć je w swoim biznesie, aby przyczynić się do
                        pozytywnych zmian w środowisku i społeczeństwie.
                    </li>
                    <li>
                        <span>Audytor wewnętrzny ISO 9001:</span> uzyskaj niezbędną wiedzę i
                        umiejętności do
                        przeprowadzania skutecznych audytów wewnętrznych zgodnych z normą ISO 9001. Dowiedz się o
                        najnowszych standardach i praktykach w dziedzinie audytów wewnętrznych, planuj, przeprowadzaj i
                        dokumentuj audyty, a także wdrażaj działania korygujące. Zdobądź również umiejętności
                        interpersonalne i komunikacyjne niezbędne do efektywnego przeprowadzania audytów wewnętrznych.
                    <li>
                        <span>ISO 9001 dla menedżerów jakości:</span>
                        to intensywny program dla osób
                        odpowiedzialnych za
                        system zarządzania jakością w organizacji. Podczas szkolenia uczestnicy zdobędą wiedzę na temat
                        wymagań normy ISO 9001 oraz najlepszych praktyk w zakresie zarządzania jakością. Szkolenie
                        składa się z prezentacji, studiów przypadków i ćwiczeń, co pozwoli na praktyczne zastosowanie
                        zdobytej wiedzy w codziennej pracy.
                    </li>
                    <li>
                        <span>
                            Dedykowane szkolenia ustalane indywidualnie
                        </span>
                    </li>
                </ul>


            </div>
            <div class="modal-services__esg hidden">
                <h3 class="modal-services__heading">ESG i Zrównoważony Rozwój</h3>
                <ul class="modal-services__list list">
                    <li>
                        <span>Ocena i audyt ESG:</span>
                        pomagamy firmom i organizacjom w przeprowadzeniu szczegółowej oceny ich
                        działań pod kątem ESG oraz zapewniamy kompleksowe audyty ESG.
                    </li>
                    <li>
                        <span>Strategie zrównoważonego rozwoju:</span>
                        wspieramy firmy i organizacje w opracowaniu strategii
                        zrównoważonego rozwoju, która umożliwi im prowadzenie działalności zgodnie z zasadami
                        zrównoważonego rozwoju.
                    </li>
                    <li>
                        <span>Szkolenia i edukacja:</span>
                        oferujemy szkolenia i warsztaty z zakresu ESG i zrównoważonego rozwoju,
                        aby pomóc naszym klientom w poszerzeniu swojej wiedzy i umiejętności w tych obszarach.
                    </li>
                    <li>
                        <span>Wdrażanie standardów ESG:</span>
                        pomagamy firmom i organizacjom w wdrożeniu standardów ESG, w tym ISO
                        14001 i ISO 26000, które pomagają im w zarządzaniu aspektami środowiskowymi, społecznymi i
                        rządzącymi.
                    </li>
                    <li>
                        <span>Raportowanie zrównoważonego rozwoju:</span>
                        pomagamy firmom i organizacjom w przygotowaniu raportów
                        zrównoważonego rozwoju, które pozwalają na skuteczne komunikowanie ich działań zgodnych z
                        zasadami zrównoważonego rozwoju.
                    </li>
                </ul>

            </div>
            <div class="modal-services__iso hidden">
                <h3 class="modal-services__heading"> System Zarządzania Jakością ISO 9001</h3>
                <p class="modal-services__iso-desc">
                    Zapraszamy do skorzystania z naszych usług w zakresie ISO 9001, które pozwolą Państwa firmie na
                    podniesienie jakości procesów i usług oraz osiągnięcie wymiernych korzyści biznesowych. Oferujemy
                    kompleksowe wsparcie, w tym przeprowadzenie audytu wewnętrznego, doradztwo w zakresie wdrożenia
                    systemu zarządzania jakością, szkolenia dla pracowników, a także pomoc w procesie certyfikacji.
                    Współpraca z nami gwarantuje Państwu uzyskanie nie tylko certyfikatu ISO 9001, ale również
                    zwiększenie zaufania klientów oraz poprawę wizerunku firmy na rynku.
                </p>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container about__container">
            <div class="about__wrapper">
                <h2 class="about__header">O MNIE</h2>
                <img class="about__image" src="../images/mw.jpg" alt="CEO Marta Wrembel">
                <p class="about__info">Członkini Polskiego Komitetu Technicznego przy Polskim Komitecie
                    Normalizacyjnym. Audytorka wiodąca ISO 9001, audytorka BRC, IFS.
                    <br>
                    Była Przedstawicielka
                    Najwyższego Kierownictwa ds. Rządowego Zapewnienia Jakości, Członkini BEPA (Batteries European
                    Partnership Association), Managerka obszarów Jakości, Kierowniczka Jednostki Certyfikującej
                    Wyroby.
                    <br><br>
                    Odpowiadam za prowadzenie i nadzór procesów raportowania niefinansowego dla klientów
                    zewnętrznych. Prowadzi szkolenia z zakresu CSR, ESG oraz doradztwo i konsulting z zakresu
                    tematyki zrównoważonego rozwoju. Od kilkunastu lat zajmuje się szeroko pojętym zarządzaniem
                    jakością.
                    Wdraża Systemy Zarządzania Jakością w organizacjach. Doświadczenie zdobyła w branżach FMCG,
                    automotive, poligrafii, badawczo-rozwojowej, usługowej, chemicznych źródeł prądu, budowlanej,
                    meblowej, wojskowej. Wspiera biznes w prawidłowym funkcjonowaniu, optymalizacji usprawnianiu
                    funkcjonujących systemów zarządzania. Przygotowuje organizacje do audytów klientów i
                    zewnętrznych jednostek certyfikujących. Prowadzi szkolenia dla managerów jakości, audytorów
                    wewnętrznych, przedstawicieli SZJ z zakresu zarządzania jakością.
                </p>
            </div>
        </div>
    </section>
</main>