< class="main">
    <div class="container main__container">
        <section class="top-section ">
            <div class="top-section__block">
                <h1 class="top-section__block-heading">MISJA I WARTOŚCI</h1>
                <p class="top-section__block-desc">
                    Misją RBS jest wspieranie w wypracowaniu i wdrażaniu skutecznych rozwiązań dopasowanych na miarę
                    potrzeb przynoszących oczekiwane korzyści dla Twojej organizacji, stron zainteresowanych i
                    interesariuszy.
                    W RBS najważniejsza jest współpraca oparta na zasadach partnerstwa, rozwój i wspieranie Twojej
                    organizacji w drodze do sukcesu.
                </p>
                <p class="top-section__block-desc">
                    RBS zajmuje się doradztwem i edukacją z zakresu zrównoważonego rozwoju, ESG, raportowania
                    niefinansowego oraz zarządzania jakością. Celem RBS jest wspieranie przedsiębiorstw we wdrażaniu
                    najkorzystniejszych rozwiązań biznesowych.
                    Wprowadzamy rozwiązania na różnych poziomach organizacji oraz w łańcuchu strumienia wartości
                    opierając się na poniższych wartościach:
                    Odpowiedzialność, Zaangażowanie, Doskonalenie, Wspieranie, Wypracowywanie rozwiązań przynoszących
                    korzyści biznesowe.
                    W RBS nieustannie doskonalimy się i rozwijamy, aby odpowiedzialnie, z zaangażowaniem wypracowywać i
                    wdrażać rozwiązania biznesowe dla Ciebie i Twojej organizacji.
                </p>
            </div>

            <img class="top-section__block-img" src="../images/top_section.png" srcset="../images/top_section@2x.png 2x"
                alt="computer">
        </section>
    </div>

    <section class="services">
        <div class="container services__container">
            <h2 class="services__heading">NASZE USŁUGI</h2>
            <ul class="services__list">
                <li class="services__list-item">
                    <h3 class="services__list-item-heading">Szkolenia i edukacja</h3>
                    <p class="services__list-item-info"> Przygotowujmy zakresy szkoleń i warsztatów z myślą o Tobie.
                        Jeśli, masz potrzebę zapoznania się lub omówienia konkretnego tematu na spotkaniu, którego nie
                        ma w
                        harmonogramie… Proszę! Napisz do nas i zaproponuj zakres, o którym chcesz dowiedzieć się więcej.
                        Bardzo chętnie dowiemy się, w jakich obszarach chcesz się rozwijać.
                    </p>
                    <button type="button" class="btn-more" id="modal-services__trainings">
                        <img src="../images/see_more-arrow.svg" alt="zobacz więcej">
                    </button>
                </li>
                <li class="services__list-item">
                    <h3 class="services__list-item-heading">ESG i Zrównoważony Rozwój</h3>
                    <p class="services__list-item-info"> Przygotowujmy zakresy szkoleń i warsztatów z myślą o Tobie.
                        Jeśli, masz potrzebę zapoznania się lub omówienia konkretnego tematu na spotkaniu, którego nie
                        ma w
                        harmonogramie… Proszę! Napisz do nas i zaproponuj zakres, o którym chcesz dowiedzieć się więcej.
                        Bardzo chętnie dowiemy się, w jakich obszarach chcesz się rozwijać.
                    </p>
                    <button type="button" class="btn-more" id="modal-services__esg">
                        <img src="../images/see_more-arrow.svg" alt="zobacz więcej">
                    </button>
                </li>
                <li class="services__list-item">
                    <h3 class="services__list-item-heading">System Zarządzania Jakością ISO 9001</h3>
                    <p class="services__list-item-info"> Przygotowujmy zakresy szkoleń i warsztatów z myślą o Tobie.
                        Jeśli, masz potrzebę zapoznania się lub omówienia konkretnego tematu na spotkaniu, którego nie
                        ma w
                        harmonogramie… Proszę! Napisz do nas i zaproponuj zakres, o którym chcesz dowiedzieć się więcej.
                        Bardzo chętnie dowiemy się, w jakich obszarach chcesz się rozwijać.
                    </p>
                    <button type="button" class="btn-more" id="modal-services__iso">
                        <img src="../images/see_more-arrow.svg" alt="zobacz więcej">
                    </button>
                </li>
            </ul>
            </di>
    </section>
    <section class="modal-services hidden">
        <div class="modal-services__popup ">
            <div class="modal-services__trainings hidden">
                <h3 class="services__list-item-heading">Szkolenia i edukacja</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
                    natus voluptate sed voluptas, molestias ipsa culpa reprehenderit? Deserunt sint quia deleniti
                    aspernatur
                    voluptates itaque, minus
                </p>
            </div>
            <div class="modal-services__esg hidden">
                <h3 class="services__list-item-heading">ESG i Zrównoważony Rozwój</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non odio
                    sequi illo quos, aliquam incidunt provident ducimus neque quibusdam saepe beatae aut nulla,
                    blanditiis
                    explicabo atque
                </p>
            </div>
            <div class="modal-services__iso hidden">
                <h3 class="services__list-item-heading"> System Zarządzania Jakością ISO 9001</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum ipsam,
                    voluptatum aliquid necessitatibus, hic temporibus sint eum labore incidunt fugit odit itaque eius
                    explicabo! Ipsum suscipit id culpa assumenda quaerat?
                </p>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container about__container">
            <div class="about__wrapper">
                <img class="about__image" src="../images/mw.jpg" alt="CEO Marta Wrembel">
                <div>
                    <h2 class="about__header">O MNIE</h2>
                    <p class="about__info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quas non maiores
                        neque ex hic qui totam
                        molestiae alias? Ipsam deleniti doloribus aspernatur inventore necessitatibus ratione et quae,
                        totam
                        dolorum!
                        Porro alias ratione perferendis tenetur aliquid a harum nulla obcaecati ipsam architecto rem
                        cupiditate
                        repudiandae ab laboriosam possimus, explicabo voluptatem accusantium veniam incidunt, illum
                        ullam
                        adipisci eveniet. Facere, iste autem!
                        Velit debitis harum id earum sint ex, quae molestiae voluptatibus in aperiam beatae omnis ab
                        possimus.
                        Beatae nobis aliquid rem in iste tempora quasi ducimus illum architecto, dicta fugit amet!
                        Maiores expedita velit excepturi, id nostrum numquam. Accusantium nesciunt odio, inventore
                        magnam
                        officia quis similique omnis ex in tempora cumque dicta consequuntur ipsum consequatur qui
                        voluptate
                        harum. Neque, molestiae esse?
                        Repellendus eum numquam quod ut eveniet facilis quisquam eos optio repellat aperiam, aut
                        reiciendis
                        cum
                        praesentium qui quaerat adipisci atque sed unde molestiae excepturi labore enim nisi a? Quasi,
                        consequatur.
                        Error, totam. Optio, exercitationem libero dolor magnam distinctio magni possimus, totam eum
                        consequatur
                        unde aliquid inventore deserunt aspernatur quam quo quod quibusdam culpa sequi quos perferendis.
                        Autem
                        perspiciatis id hic!
                        Dolor quam tempora explicabo enim quod pariatur veritatis alias dolore placeat, illum ex. Ipsum
                        qui
                        labore, suscipit, corrupti repudiandae dolores consectetur itaque necessitatibus, culpa soluta
                        accusantium aut officiis! Recusandae, consequatur?</p>
                </div>
            </div>
        </div>
    </section>



    </main>