<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle menu-toggle--close js-close-menu">
        <svg width="18.7" height="18.7">
            <use xlink:href="../images/icon.svg#close"></use>
        </svg>
    </button>
    <ul class="mobile-menu">
        <li class="mobile-menu__item"><a href="#" rel="noopener noreferrer" class="mobile-menu__link link">O firmie</a>
        </li>
        <li class="mobile-menu__item">
            <a href="#" rel="noopener noreferrer" class="mobile-menu__link link mobile-menu__link--active ">Usługi</a>
        </li>
        <li class="mobile-menu__item"><a href="#" rel="noopener noreferrer" class="mobile-menu__link link">O mnie</a>
        </li>
        <li class="mobile-menu__item"><a href="" class="mobile-menu__link link">Kontakt</a></li>
    </ul>
    <div class="mobile-address">
        <a class="mobile-address__phone link" href="tel:+48691122588" rel="noopener noreferrer">+48 691 122 588</a>
        <a class="mobile-address__mail link" href="mailto:marta.wrembel@rbs.org.pl"
            rel="noopener noreferrer">marta.wrembel@rbs.org.pl</a>

    </div>
    <ul class="mobile-socials">
        <li class="mobile-socials__item"><a class="mobile-socials__link link"
                href="https://www.facebook.com/marta.wrembel.5" rel="noopener noreferrer">Facebook</a></li>
        <li class="mobile-socials__item"><a class="mobile-socials__link link"
                href="https://pl.linkedin.com/in/marta-wrembel-b05891143" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>
</div>