.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  background-color: #fbfbfb;
  border-top: 1px solid #1a2535;

  &__container {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
  }

  &__company-info {
    margin: 30px auto;
  }

  &__logo {
    display: block;
    width: 100px;
    margin: 30px auto 0;
  }

  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__socials {
    margin-top: 20px;
  }

  &__sent-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 8px;
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    color: #1a2535;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &-social {
      font-size: 16px;
      font-style: normal;
      color: #1a2535;
      text-align: center;
    }
  }
}
.btn {
  cursor: pointer;
  padding: 0;
  width: 200px;
  min-height: 40px;
  outline: none;
  background: #1a2535;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* -------------------------------------- */

.footer__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
  letter-spacing: 0.03em;
}

.icon {
  fill: rgba(0, 0, 0, 0.53);

  &--social {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #fbfbfb;
    stroke: #fbfbfb;
    stroke-width: 1;
    background-image: linear-gradient(
      to left bottom,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12
    );
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 100%;
    gap: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer__logo {
    width: 200px;
  }

  .footer__heading-social {
    display: none;
  }
}

@media screen and (min-width: 940px) {
  .footer__company-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: end;
  }

  .footer__heading {
    margin: 0;
    grid-column: 1 / 4;
  }

  .footer__socials {
    grid-row: 2;
    grid-column: span 3;
  }

  .footer__address {
    margin-top: 20px;
    grid-row: 2;
    gap: 0;
  }

  .footer__link {
    margin-bottom: 20px;
  }

  .footer__list {
    margin-bottom: 0;
  }

  .footer__heading-social {
    display: block;
    margin-bottom: 20px;
  }
}
