.main__container {
  max-width: 1200px;
}

.main__header {
  margin-bottom: 30px;
}

.top-section {
  margin: 130px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section__block {
  text-align: justify;
}

.top-section__block-heading {
  text-align: center;
  margin-bottom: 20px;
}

.top-section__block-desc {
  line-height: 1.3;
  color: #37323ecf;
}

.top-section__block-img {
  display: none;
}

.main__about {
  margin-bottom: 30px;
  padding: 0 10px;
  line-height: 1.5;
  /* text-indent: 10px; */
}

/* -------------------------------------------------------- */

.services {
  background: linear-gradient(
      294.1deg,
      #eaeaea 17.19%,
      rgba(230, 230, 230, 0) 97.87%
    ),
    url("../images/background_services2000x800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__heading {
  padding: 60px 0 60px 0;
}

.services__list {
  list-style: none;
  padding: 0 0 30px 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.services__list-item {
  position: relative;
  padding: 35px 20px 35px 20px;
  font-weight: 500;
  color: #202020;
  line-height: 1.2;
  min-width: 300px;
  flex-basis: calc((100% - 2 * 30px) / 3);
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.services__list-item-heading {
  display: block;
  font-size: 20px;
  flex-grow: 1;
}

.services__list-item-info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  text-align: justify;
  flex-grow: 0;
}

.btn-more {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  bottom: 10px;
  right: 10px;
}

.about {
  margin-top: 60px;
}

.about__header {
  /* font-size: 42px; */
  margin-bottom: 60px;
  text-align: center;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
}

.about__image {
  /* min-width: 300px; */
  width: 234.47px;
  height: 290px;
  object-fit: cover;
  /* border-radius: 50%; */
  /* object-position: center -10px; */
  border-radius: 25px;
  /* -webkit-box-shadow: 0px 0px 13px 0px rgba(121, 124, 138, 0.51);
  -moz-box-shadow: 0px 0px 13px 0px rgba(121, 124, 138, 0.51);
  box-shadow: 0px 0px 13px 0px rgba(121, 124, 138, 0.51); */
}

.about__info {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .top-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
  }

  .top-section__block-img {
    display: block;
    max-width: 350px;
  }
}
