<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Edukacja i doradztwo w zakresie zrównoważonego rozwoju, raportowania niefinansowego, ESG.">
    <meta name="keywords" content="Zrównoważony rozwój, ESG, raportowanie niefinansowe, CSR, ESRS, CSRD, szkolenia, ISO">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Responsible Business Solutions</title>
    <link rel="icon" type="image/png" href="./images/favicon.png" sizes="16x16">
    <!-- <script src="https://kit.fontawesome.com/56dc5aa199.js" crossorigin="anonymous"></script> -->
    <script type="module" src="./index.js"></script>
</head>

<body>
    <%= require('html-loader!./partials/header.html').default %>
    <%= require('html-loader!./partials/main.html').default %>
    <%= require('html-loader!./partials/footer.html').default %>
    <%= require('html-loader!./partials/mobile-menu.html').default %>

</body>

</html>